<div id="page-wrapper">

    <div class="container-fluid">


        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Aluguel <small>Cadastro</small>
                </h1>
            </div>
        </div>
        <div class="row container-fluid">
            <div class="col-lg-10">
                <label>Filmes</label>
                <tags-input ng-model="entity.filmes" display-property="nome">
                    <auto-complete source="loadFilmes($query)"></auto-complete>
                </tags-input>
            </div>
        </div>

        <div class="row container-fluid">
            <div class="col-lg-10">
                <label>Cliente</label>
                <input type="text" 
                       ng-model="entity.cliente" 
                       uib-typeahead="cliente as cliente.nome for cliente in getClientes($viewValue)" class="form-control">
            </div>
        </div>

        <div class="row container-fluid">
            <div class="col-lg-10">
                <label>Funcionário</label>
                <input type="text" 
                       ng-model="entity.funcionario" 
                       uib-typeahead="funcionario as funcionario.nome for funcionario in getFuncionarios($viewValue)" class="form-control">
            </div>
        </div>

        <div class="row container-fluid">
            <div class="col-lg-4">
                <label>Valor total:</label>
                <input type="number" class="form-control" ng-model="entity.valorTotal"/>
            </div>
        </div>

        <div class="row container-fluid">
            <div class="col-lg-4">
                <label>Data aluguel:</label>
                <input type="date" class="form-control" ng-model="entity.dataAluguel"/>
            </div>
        </div>

        <div class="row container-fluid">
            <div class="col-lg-4">
                <label>Data devolução:</label>
                <input type="date" class="form-control" ng-model="entity.dataDevolucao"/>
            </div>
        </div>

        <br/>
        <div class="row container-fluid">
            <div class="col-lg-12">
                <button type="button" class="btn btn-success pull-left" ng-click="salvar(entity)">
                    <i class="fa fa-check"></i> Salvar
                </button>
            </div>
        </div>


    </div>


</div>