<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Alguel <small>Listagem</small>
                </h1>
                <ol class="breadcrumb">

                    <button ui-sref="aluguelForm" class="btn btn-info">
                        <i class="fa fa-plus-square"></i> Novo
                    </button>

                </ol>
            </div>
            
            <div class="table-responsive container-fluid">
                <table class="table table-striped table-hover" >
                    <tr>
                        <td>Cliente</td> 
                        <td>Funcionario</td>
                        <td>Valor</td>
                        <td>Ação</td>
                    </tr>
                    <tr ng-repeat="aluguel in aluguels.values">
                        <td>{{aluguel.cliente.nome}}</td>
                        <td>{{aluguel.funcionario.nome}}</td>
                        <td>{{aluguel.valorTotal}}</td>
                        <td>
                            <button class="btn btn-danger " ng-click="deletar(aluguel.id)">
                                <i class="fa fa-remove"></i>
                            </button>
                            &nbsp;&nbsp;&nbsp;
                            <button class="btn btn-info " ui-sref="aluguelEdit({id: aluguel.id})">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </td>

                    </tr>
                </table>
                <uib-pagination total-items="aluguels.count"
                                ng-model="page"
                                items-per-page="aluguels.pageSize"
                                class="pagination-sm"
                                ng-change="listar(page, pageSize)">

                </uib-pagination>
            </div>
        </div>
            
        </div>


    </div>
    <!-- /#page-wrapper -->

</div>