<div id="page-wrapper">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Funcionário <small>Listagem</small>
                </h1>

            </div>
        </div>

        <div class="row container-fluid">
            <div class="col-md-10">
                <label>Nome:</label>
                <input type="text" class="form-control" ng-model="entity.nome"/>
            </div>
        </div>

        <div class="row container-fluid">
            <div class="col-md-4">
                <label>Data de nascimento:</label>
                <input type="date" class="form-control" ng-model="entity.dataNascimento"/>
            </div>
        </div>
        <div class="row container-fluid">
            <div class="col-md-4">
                <label>CPF:</label>
                <input type="number" class="form-control" ng-model="entity.cpf"/>
            </div>
        </div>
        <div class="row container-fluid">
            <div class="col-md-4">
                <label>RG:</label>
                <input type="number" class="form-control" ng-model="entity.rg"/>
            </div>
        </div>
        <div class="row container-fluid">
            <div class="col-md-4">
                <label>Salário:</label>
                <input type="number" class="form-control" ng-model="entity.salario"/>
            </div>
        </div>
        <div class="row container-fluid">
            <div class="col-md-4">
                <label>Data de contratação:</label>
                <input type="date" class="form-control" ng-model="entity.dataContratacao"/>
            </div>
        </div>
        <div class="row container-fluid">
            <div class="col-md-4">
                <label>CEP:</label>
                <input type="text" class="form-control" ng-model="entity.endereco.cep"/>
            </div>
        </div>
        <div class="row container-fluid">
            <div class="col-md-4">
                <label>Estado:</label>
                <input type="text" class="form-control" ng-model="entity.endereco.estado"/>
            </div>
        </div>
        <div class="row container-fluid">
            <div class="col-md-4">
                <label>Cidade:</label>
                <input type="text" class="form-control" ng-model="entity.endereco.cidade"/>
            </div>
        </div>
        <div class="row container-fluid">
            <div class="col-md-4">
                <label>Bairro:</label>
                <input type="text" class="form-control" ng-model="entity.endereco.bairro"/>
            </div>
        </div>
        <div class="row container-fluid">
            <div class="col-md-4">
                <label>Rua:</label>
                <input type="text" class="form-control" ng-model="entity.endereco.rua"/>
            </div>
        </div>
        <div class="row container-fluid">
            <div class="col-md-4">
                <label>Numero:</label>
                <input type="text" class="form-control" ng-model="entity.endereco.numero"/>
            </div>
        </div>

        <br/>
        <div class="row container-fluid">
            <div class="col-lg-12">
                <button type="button" class="btn btn-success pull-left" ng-click="salvar(entity)">
                    <i class="fa fa-check"></i> Salvar
                </button>
            </div>
        </div>
    </div>
</div>
