<div id="page-wrapper">

    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Funcionário <small>Listagem</small>
                </h1>
                <ol class="breadcrumb">

                    <button ui-sref="funcionarioForm" class="btn btn-info">
                        <i class="fa fa-plus-square"></i> Novo
                    </button>

                </ol>
            </div>
            <div class="table-responsive container-fluid">
                <table class="table table-striped table-hover">
                    <td>
                        Nome
                    </td>
                    <td>
                        Telefone
                    </td>
                    <td>
                        Ação
                    </td>

                    <tr ng-repeat="funcionario in funcionarios.values">
                        <td>
                            {{funcionario.nome}}
                        </td>
                        <td>
                            {{funcionario.telefone}}
                        </td>
                        <td>
                            <button class="btn btn-danger" ng-click="deletar(funcionario.id)">
                                <i class="fa fa-remove"></i>
                            </button>
                            &nbsp;&nbsp;&nbsp;
                            <button class="btn btn-info" ui-sref="funcionarioEdit({id: funcionario.id})">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </td>

                    </tr>
                </table>
                <uib-pagination total-items="funcionarios.count"
                                ng-model="page"
                                items-per-page="funcionarios.pageSize"
                                class="pagination-sm"
                                ng-change="listar(page, pageSize)">

                </uib-pagination>
            </div>

        </div>


    </div>
</div>