<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Cliente <small>Listagem</small>
                </h1>
                <ol class="breadcrumb">
                    <button ui-sref="clienteForm" class="btn btn-info">
                        <i class="fa fa-plus-square"></i> Novo
                    </button>
                </ol>
            </div>           
            <div class="table-responsive container-fluid">
                <table class="table table-striped table-hover" >
                    <tr>
                        <td>Nome</td> 
                        <td>Telefone</td>
                        <td>Ação</td>
                    </tr>
                    <tr ng-repeat="cliente in clientes.values">
                        <td>{{cliente.nome}}</td>
                        <td>{{cliente.telefone}}</td>
                        <td>
                            <button class="btn btn-danger " ng-click="deletar(cliente.id)">
                                <i class="fa fa-remove"></i>
                            </button>
                            &nbsp;&nbsp;&nbsp;
                            <button class="btn btn-info " ui-sref="clienteEdit({id: cliente.id})">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </td>

                    </tr>
                </table>
                <uib-pagination total-items="clientes.count"
                                ng-model="page"
                                items-per-page="clientes.pageSize"
                                class="pagination-sm"
                                ng-change="listar(page, pageSize)">

                </uib-pagination>
            </div>
        </div>
    </div>  
</div>