<div id="page-wrapper">

    <div class="container-fluid">

        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Filme <small>Cadastro</small>
                        </h1>
                    </div>
                </div>
                <div class="row container-fluid">
                    <div class="col-md-4">
                        <label>Nome do Filme:</label>
                        <input type="text" class="form-control" ng-model="entity.nome"/>
                    </div>
                    <div class="col-md-3">
                        <label>Gênero:</label>
                        <input type="text" class="form-control" ng-model="entity.genero.genero"/>
                    </div>
                    <div class="col-md-3">
                        <label>Ano Lançamento:</label>
                        <input type="number" class="form-control" ng-model="entity.anoLancamento"/>
                    </div>
                    <div class="col-md-2">
                        <label>Classificação Indicativa:</label>
                        <input type="number" class="form-control" ng-model="entity.classificacaoIndicativa"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="row container-fluid">
            <div class="col-md-6">
                <label>Tipo de midia:</label>
                <select class="form-control" ng-model="entity.tipoMidia">
                    <option></option>
                    <option>DVD</option>

                    <option>BLURAY</option>

                    <option>CD</option>

                    <option>VHS</option>
                </select>
            </div>
        </div>
        <div class="row container-fluid">
            <div class="col-md-6">
                <label>Duração (em minutos)</label>
                <input type="number" class="form-control" ng-model="entity.duracao"/>
            </div>

        </div>
        <div class="row container-fluid">
            <div class="col-md-6">
                <label>Preço</label>
                <input type="number" class="form-control" ng-model="entity.preco"/>
            </div>
        </div>

        <div class="row container-fluid">
            <div class="col-lg-10">
                <label>Sinopse</label>
                <textarea class="form-control" ng-model="entity.sinopse" style="resize: none"></textarea>
            </div>
        </div>
        <br/>
        <div class="row container-fluid">
            <div class="col-lg-12">
                <button type="button" class="btn btn-success pull-left" ng-click="salvar(entity)">
                    <i class="fa fa-check"></i> Salvar
                </button>
            </div>
        </div>
    </div>

</div>
