<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Filme <small>Listagem</small>
                </h1>
                <ol class="breadcrumb">

                    <button ui-sref="filmeForm" class="btn btn-info">
                        <i class="fa fa-plus-square"></i> Novo
                    </button>

                </ol>
            </div>


            <div class="table-responsive container-fluid">
                <table class="table table-striped table-hover" >
                    <tr>
                        <td>Nome</td> 
                        <td>Genero</td>
                        <td>Classificação</td>
                        <td>Ação</td>
                    </tr>
                    <tr ng-repeat="filme in filmes.values">
                        <td>{{filme.nome}}</td>
                        <td>{{filme.genero.genero}}</td>
                        <td>{{filme.classificaoIndicativa}}</td>
                        <td>
                            <button class="btn btn-danger " ng-click="deletar(filme.id)">
                                <i class="fa fa-remove"></i>
                            </button>
                            &nbsp;&nbsp;&nbsp;
                            <button class="btn btn-info " ui-sref="filmeEdit({id: filme.id})">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </td>
                            
                    </tr>
                </table>
                <uib-pagination total-items="filmes.count"
                                ng-model="page"
                                items-per-page="filmes.pageSize"
                                class="pagination-sm"
                                ng-change="listar(page, pageSize)">

                </uib-pagination>
            </div>
        </div>


    </div>
    <!-- /#page-wrapper -->

</div>